.glass {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2.8px);

  width: 20rem;
  height: 6rem;
  padding: 2.5rem;
}

body {
  background-color: rgb(139, 97, 8);
  background: linear-gradient(
    90deg,
    rgb(178, 152, 96) 30%,
    rgba(9, 120, 124, 1) 90%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
}
